@import url('exofont.css');
@import url('sourceSansFont.css');

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

#gSignInWrapper{
    position: absolute;
    z-index: 9999999;
    top: calc(55% - 35px);
    left: calc(60% - 280px);
    width: 250px;
}
#customBtn {
  display: inline-block;
  background: white;
  color: #444;
  min-width: 240px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}

span.icon {
  background: url('https://developers.google.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 42px;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}

.body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../images/logo.png);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(60% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: bolder;
}

.header div span{
	/*color: #5379fa !important;*/
	color: #f06c21 !important;
}

.credsDiv{
	position: absolute;
	/*top: calc(50% - 75px);*/
	/*left: calc(50% - 50px);*/
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	animation: ease-in 1s linear;
}

.flipDiv{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	animation: ease-in 1s linear;
}

/*.credsDiv input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}*/

.credsDiv input[type=password], .credsDiv input[type=email], .credsDiv input[type=text], label{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.credsDiv input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.credsDiv input[type=button]:hover{
	opacity: 0.8;
}

.credsDiv input[type=button]:active{
	opacity: 0.6;
}

.credsDiv input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.credsDiv input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.credsDiv input[type=button]:focus{
	outline: none;
}


/*FLIP ANIMATION*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		/*transform: rotateY(180deg);*/
	}

.flip-container, .front, .back {
	width: 320px;
	height: auto;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}


.mandatoryField{
	border: 1px solid rgba(226, 77, 77, 1) !important;
}



::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}